.click-legend-node {
    cursor: pointer;
    margin-right: 6px;
    display: inline-block;
}

.inline-block-display {
    display: inline-block;
}

.legend-map {
    padding: 10px 6px;
    background-color: #ebebeb;
    font-weight: bold;
}

.legend-checkbox {
    position: relative;
    display: inline-block;
    margin: 10px 6px 10px 0px !important;
}

.legend-checkbox-label {
    min-height: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}