.click-legend-node {
    cursor: pointer;
    margin-right: 4px;
}

.inline-block-display {
    display: inline-block;
}

.legend-map {
    padding: 10px 6px;
    background-color: #ebebeb;
    font-weight: bold;
}