@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #FEFEFF;
    color: #333;
    font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#app-container {
    height: 100%;
    width: 100%;
}

    #app-container > div {
        height: 100%;
        width: 100%;
    }

#legend {
    height: calc(100% - 60px);
    overflow-y: auto;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: whitesmoke;
    padding: 0 12px 6px 12px;
    min-width: 280px;
}

input, label {
    cursor: pointer;
    margin-bottom: 4px;
}

